body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.post-link {
	text-decoration: none;
}

header {
	min-height: 20rem;
	background-color: blue;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(/blog/assets/images.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	margin-bottom: 20px;
}

header > * {
	z-index: 10;
}

header::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.main {
	display: flex;
	justify-content: center;
}

.main-container {
	max-width: 750px;
	min-width: 600px;
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
}

.profile-image {
	width: 5rem;
	height: 5rem;
	background-color: white;
	border-radius: 50%;
	background-image: url(/blog/assets/steve.png);
	background-size: cover;
	background-position-x: center;
}

.profile-name {
	font-size: 3rem;
	font-weight: bold;
}

.post {
	display: flex;
	border: 1px solid #eaecee;
	border-radius: 8px;
	min-height: 200px;
	overflow: hidden;
	transition: all 0.25s ease;
	margin-top: 24px;
}

.post:hover {
	transform: translate3d(0px, -5px, 0);
	box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.1);
}

.post-image {
	flex-basis: 40%;
	background-image: url(https://images.unsplash.com/photo-1498588543704-e0d466ddcfe5?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDEwfGJvOGpRS1RhRTBZfHxlbnwwfHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60);
	background-size: cover;
	background-position: center;
}

.post-content {
	flex-basis: 60%;
	padding: 8px;
	margin: 8px;
}

.post-date {
	font-size: 10px;
	color: grey;
}

.post-title {
	font-weight: bold;
	margin-top: 8px;
}

.post-title h4 {
	margin: 0;
}

.post-text {
	font-size: 12px;
	margin-top: 8px;
	color: #495057;
	font-weight: 400;
	line-height: 1.4;
	max-height: 65px;
	overflow: hidden;
}

img {
	background-size: cover;
	width: 10rem;
}
.subtext {
	margin-top: 8px;
}

.nav-button.new-post-button {
	position: fixed;
	right: 30px;
	bottom: 30px;
	background-color: #004186;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.nav-button.new-post-button:hover {
	background-color: #002349;
	transition: all 0.25s ease;
}
footer {
	min-height: 100px;
	background-color: #eaecee70;
	color: #929eaa;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	font-size: 14px;
}
